Repository dills122/session-chat: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, stylelint --fix, prettier --write

Updated project dependencies
  common/config/rush/pnpm-lock.yaml
Due: none

fixed login flow, disabled reAuth for now, better sub handling
  apps/chat-backend/src/chat/chat.gateway.ts
  apps/chat-frontend/src/app/features/chat-room/chat-room/chat-room.component.ts
  apps/chat-frontend/src/app/features/create-session/create-session/create-session.component.ts
  apps/chat-frontend/src/app/features/login/login/login.component.ts
  apps/chat-frontend/src/app/services/login/login.service.ts
  apps/chat-frontend/src/app/services/notification/notification-service.service.spec.ts
  apps/chat-frontend/src/app/services/notification/notification-service.service.ts
  apps/chat-frontend/src/app/services/room-management/room-management.service.ts
  apps/chat-frontend/src/app/services/session-storage/session-storage.service.ts
Due: eslint --cache --fix, prettier --write

reviewed the old architecture and realized it was very bad/insecure so set a refactor plan
  Readme.md
  docs/README.md
  docs/backlog.md
  docs/rearchitecture-epic.md
  docs/sprint-plan.md
Due: prettier --write

Upgrade frontend to Angular 17 baseline
  .github/workflows/ci.action.yml
  Readme.md
  apps/chat-frontend/angular.json
  apps/chat-frontend/ci.karma.conf.js
  apps/chat-frontend/karma.conf.js
  apps/chat-frontend/package.json
  apps/chat-frontend/src/app/app.module.ts
  apps/chat-frontend/src/environments/environment.prod.ts
  apps/chat-frontend/src/environments/environment.ts
  apps/chat-frontend/tsconfig.json
  common/config/rush/pnpm-lock.yaml
  docs/README.md
  docs/dependency-upgrade-plan.md
  rush.json
Due: eslint --cache --fix, prettier --write

Upgrade frontend to Angular 18 baseline
  apps/chat-frontend/package.json
  common/config/rush/pnpm-lock.yaml
Due: prettier --write

Upgrade frontend to Angular 19 baseline
  apps/chat-frontend/.eslintrc.json
  apps/chat-frontend/package.json
  apps/chat-frontend/src/app/app/app.component.ts
  apps/chat-frontend/src/app/core/confirm-modal/confirm-modal.component.ts
  apps/chat-frontend/src/app/core/generic-modal/generic-modal.component.ts
  apps/chat-frontend/src/app/features/chat-room/chat-room/chat-room.component.ts
  apps/chat-frontend/src/app/features/create-session/create-session/create-session.component.ts
  apps/chat-frontend/src/app/features/home/home/home.component.ts
  apps/chat-frontend/src/app/features/login/login/login.component.ts
  common/config/rush/pnpm-lock.yaml
Due: eslint --cache --fix, prettier --write

Upgrade frontend to Angular 20 baseline
  apps/chat-frontend/.eslintrc.json
  apps/chat-frontend/package.json
  apps/chat-frontend/src/app/services/auth/auth-service.service.ts
  apps/chat-frontend/src/app/services/chat/chat-service.service.ts
  apps/chat-frontend/src/app/services/notification/notification-service.service.ts
  apps/chat-frontend/src/app/services/room-management/room-management.service.ts
  common/config/rush/pnpm-lock.yaml
Due: eslint --cache --fix, prettier --write

Replace Bootstrap with Tailwind utilities
  apps/chat-frontend/.postcssrc.json
  apps/chat-frontend/angular.json
  apps/chat-frontend/package.json
  apps/chat-frontend/src/app/app/app.component.html
  apps/chat-frontend/src/app/core/generic-modal/generic-modal.component.html
  apps/chat-frontend/src/app/features/chat-room/chat-room/chat-room.component.html
  apps/chat-frontend/src/app/features/create-session/create-session/create-session.component.html
  apps/chat-frontend/src/app/features/create-session/create-session/create-session.component.scss
  apps/chat-frontend/src/app/features/create-session/create-session/create-session.component.ts
  apps/chat-frontend/src/app/features/home/home/home.component.html
  apps/chat-frontend/src/app/features/login/login/login.component.html
  apps/chat-frontend/src/app/features/login/login/login.component.scss
  apps/chat-frontend/src/app/features/login/login/login.component.ts
  apps/chat-frontend/src/styles.css
  common/config/rush/pnpm-lock.yaml
Due: eslint --cache --fix, stylelint --fix, prettier --write

Align backend and shared dependencies
  apps/chat-backend/package.json
  apps/chat-frontend/src/app/app/app.component.html
  apps/chat-frontend/src/app/features/create-session/create-session/create-session.component.html
  apps/chat-frontend/src/app/features/home/home/home.component.html
  common/config/rush/pnpm-lock.yaml
  libs/shared-sdk/package.json
Due: prettier --write

Clean up stale frontend repo artifacts
  Readme.md
  apps/chat-frontend/.browserslistrc
  apps/chat-frontend/README.md
  apps/chat-frontend/e2e/protractor.conf.js
  apps/chat-frontend/e2e/src/app.e2e-spec.ts
  apps/chat-frontend/e2e/src/app.po.ts
  apps/chat-frontend/e2e/tsconfig.json
  apps/chat-frontend/src/polyfills.ts
Due: eslint --cache --fix, prettier --write

Upgrade Rush and pnpm tooling
  .github/workflows/ci.action.yml
  apps/chat-backend/package.json
  apps/chat-backend/src/shared/util.ts
  apps/chat-frontend/package.json
  common/autoinstallers/lint-staged/package.json
  common/autoinstallers/lint-staged/pnpm-lock.yaml
  common/config/rush/pnpm-lock.yaml
  common/scripts/install-run-rush-pnpm.js
  common/scripts/install-run-rush.js
  common/scripts/install-run-rushx.js
  common/scripts/install-run.js
  docs/dependency-upgrade-plan.md
  libs/shared-sdk/package.json
  rush.json
Due: eslint --cache --fix, prettier --write

Fix CI browser and prettier tooling
  .github/workflows/ci.action.yml
  apps/chat-frontend/ci.karma.conf.js
  common/config/rush/command-line.json
Due: prettier --write

prettier fixes, ci
  apps/chat-frontend/src/app/features/chat-room/chat-room/chat-room.component.html
  apps/chat-frontend/src/app/features/create-session/create-session/create-session.component.html
  apps/chat-frontend/src/app/features/home/home/home.component.html
Due: none

Harden CI Chrome launcher for Karma
  apps/chat-frontend/ci.karma.conf.js
Due: none

style: format v2 scripts for CI
  scripts/setup-codex-links.mjs
  scripts/setup-codex-links.test.mjs
  spikes/sealed-invitation-provider/src/attestor.mjs
  spikes/sealed-invitation-provider/src/crypto.mjs
  spikes/sealed-invitation-provider/src/provider.mjs
  spikes/sealed-invitation-provider/test/provider.test.mjs
Due: none

fix(ci): align legacy tests with supported runtime
  .github/workflows/ci.action.yml
  apps/chat-frontend/ci.karma.conf.js
Due: prettier --write

Establish Session Chat v2 architecture and invitation-provider spike (#246)
  .codex/AI_CENTRAL.md
  .codex/ai-central-pin.json
  .codex/steering/angular-steering.md
  .codex/steering/frontend-design-steering.md
  .codex/steering/javascript-typescript-steering.md
  .codex/steering/repository-steering.md
  .codex/steering/rust-steering.md
  .codex/steering/shell-scripting-steering.md
  .codex/steering/testing-quality-gates-steering.md
  .github/workflows/ci.action.yml
  .gitignore
  AGENTS.md
  Readme.md
  apps/chat-frontend/ci.karma.conf.js
  docs/ARCHITECTURE_V2.md
  docs/IDENTITY_AND_ADMISSION.md
  docs/PRODUCT_V2.md
  docs/README.md
  docs/REFERENCES.md
  docs/RESEARCH_BACKLOG.md
  docs/ROADMAP_V2.md
  docs/THREAT_MODEL.md
  docs/TRANSPORTS.md
  docs/adr/0001-separate-security-layers.md
  docs/adr/0002-session-scoped-member-keys.md
  docs/adr/0003-private-transport-fails-closed.md
  docs/adr/0004-build-v2-as-a-parallel-protocol-laboratory.md
  docs/spikes/SEALED_INVITATION_PROVIDER.md
  docs/spikes/SEALED_INVITATION_PROVIDER_PROTOCOL.md
  scripts/setup-codex-links.mjs
  scripts/setup-codex-links.test.mjs
  spikes/sealed-invitation-provider/README.md
  spikes/sealed-invitation-provider/package.json
  spikes/sealed-invitation-provider/src/attestor.mjs
  spikes/sealed-invitation-provider/src/crypto.mjs
  spikes/sealed-invitation-provider/src/provider.mjs
  spikes/sealed-invitation-provider/test/provider.test.mjs
Due: prettier --write

docs(protocol): select deterministic CBOR encoding
  docs/RESEARCH_BACKLOG.md
  docs/adr/0005-use-deterministic-cbor-for-v2-wire-objects.md
Due: prettier --write

feat(protocol): add bounded opaque envelope wire format
  .gitignore
  Cargo.lock
  Cargo.toml
  crates/session-protocol/Cargo.toml
  crates/session-protocol/README.md
  crates/session-protocol/src/lib.rs
  crates/session-protocol/tests/opaque_envelope.rs
  rust-toolchain.toml
Due: prettier --write

ci(protocol): enforce Rust workspace gates
  .github/workflows/rust.action.yml
Due: prettier --write

docs(v2): mark protocol laboratory in progress
  AGENTS.md
  docs/README.md
  docs/ROADMAP_V2.md
Due: prettier --write

Establish the v2 protocol wire foundation (#247)
  .github/workflows/rust.action.yml
  .gitignore
  AGENTS.md
  Cargo.lock
  Cargo.toml
  crates/session-protocol/Cargo.toml
  crates/session-protocol/README.md
  crates/session-protocol/src/lib.rs
  crates/session-protocol/tests/opaque_envelope.rs
  docs/README.md
  docs/RESEARCH_BACKLOG.md
  docs/ROADMAP_V2.md
  docs/adr/0005-use-deterministic-cbor-for-v2-wire-objects.md
  rust-toolchain.toml
Due: prettier --write

docs(legacy): preserve v1 evidence before retirement
  LICENSE
  docs/README.md
  docs/adr/0004-build-v2-as-a-parallel-protocol-laboratory.md
  docs/adr/0006-retire-v1-from-the-default-branch.md
  docs/legacy-v1/BEHAVIOR_AND_LESSONS.md
  docs/legacy-v1/EVIDENCE_BRIEF.md
  docs/legacy-v1/README.md
Due: prettier --write

docs(protocol): specify signed capability invitations
  docs/adr/0007-sign-capability-invitations-with-ed25519.md
  docs/specs/SIGNED_INVITATION_V1.md
Due: prettier --write

feat(protocol): authenticate capability invitations
  Cargo.lock
  Cargo.toml
  crates/session-protocol/Cargo.toml
  crates/session-protocol/README.md
  crates/session-protocol/src/invitation.rs
  crates/session-protocol/src/lib.rs
  crates/session-protocol/tests/opaque_envelope.rs
  crates/session-protocol/tests/signed_invitation.rs
Due: prettier --write

feat(core): consume invitations once
  Cargo.lock
  Cargo.toml
  crates/session-core/Cargo.toml
  crates/session-core/README.md
  crates/session-core/src/lib.rs
  crates/session-core/tests/invitation_registry.rs
Due: prettier --write

docs(v2): record invitation implementation evidence
  AGENTS.md
  Readme.md
  docs/ARCHITECTURE_V2.md
  docs/README.md
  docs/REFERENCES.md
  docs/RESEARCH_BACKLOG.md
  docs/ROADMAP_V2.md
  docs/THREAT_MODEL.md
  docs/specs/SIGNED_INVITATION_V1.md
Due: prettier --write

Authenticate and consume Phase 1 capability invitations (#251)
  AGENTS.md
  Cargo.lock
  Cargo.toml
  Readme.md
  crates/session-core/Cargo.toml
  crates/session-core/README.md
  crates/session-core/src/lib.rs
  crates/session-core/tests/invitation_registry.rs
  crates/session-protocol/README.md
  crates/session-protocol/src/invitation.rs
  crates/session-protocol/src/lib.rs
  crates/session-protocol/tests/opaque_envelope.rs
  crates/session-protocol/tests/signed_invitation.rs
  docs/ARCHITECTURE_V2.md
  docs/README.md
  docs/REFERENCES.md
  docs/RESEARCH_BACKLOG.md
  docs/ROADMAP_V2.md
  docs/THREAT_MODEL.md
  docs/adr/0007-sign-capability-invitations-with-ed25519.md
  docs/specs/SIGNED_INVITATION_V1.md
Due: prettier --write

feat(protocol): establish v2 invitation foundations
  .github/workflows/node-tools.action.yml
  .github/workflows/rust.action.yml
  AGENTS.md
  Readme.md
  crates/session-core/Cargo.toml
  crates/session-core/README.md
  crates/session-core/src/lib.rs
  crates/session-core/tests/invitation_registry.rs
  crates/session-protocol/src/invitation.rs
  crates/session-protocol/tests/opaque_envelope.rs
  crates/session-protocol/tests/signed_invitation.rs
  docs/ARCHITECTURE_V2.md
  docs/IDENTITY_AND_ADMISSION.md
  docs/PRODUCT_V2.md
  docs/README.md
  docs/REFERENCES.md
  docs/RESEARCH_BACKLOG.md
  docs/ROADMAP_V2.md
  docs/THREAT_MODEL.md
  docs/TRANSPORTS.md
  docs/adr/0008-use-an-inviter-owned-transactional-invitation-lifecycle.md
  docs/adr/0009-bind-admission-to-the-mls-key-package.md
  docs/adr/0010-use-right-specific-mailbox-capabilities.md
  docs/adr/0011-select-openmls-for-the-phase-1-laboratory.md
  docs/legacy-v1/EVIDENCE_BRIEF.md
  docs/specs/SIGNED_INVITATION_V1.md
  docs/spikes/SEALED_INVITATION_PROVIDER.md
  docs/spikes/SEALED_INVITATION_PROVIDER_PROTOCOL.md
  spikes/sealed-invitation-provider/README.md
  spikes/sealed-invitation-provider/src/attestor.mjs
  spikes/sealed-invitation-provider/src/provider.mjs
  spikes/sealed-invitation-provider/test/provider.test.mjs
Due: prettier --write

feat(protocol): establish v2 invitation foundations (#252)
  .github/workflows/node-tools.action.yml
  .github/workflows/rust.action.yml
  AGENTS.md
  Readme.md
  crates/session-core/Cargo.toml
  crates/session-core/README.md
  crates/session-core/src/lib.rs
  crates/session-core/tests/invitation_registry.rs
  crates/session-protocol/src/invitation.rs
  crates/session-protocol/tests/opaque_envelope.rs
  crates/session-protocol/tests/signed_invitation.rs
  docs/ARCHITECTURE_V2.md
  docs/IDENTITY_AND_ADMISSION.md
  docs/PRODUCT_V2.md
  docs/README.md
  docs/REFERENCES.md
  docs/RESEARCH_BACKLOG.md
  docs/ROADMAP_V2.md
  docs/THREAT_MODEL.md
  docs/TRANSPORTS.md
  docs/adr/0008-use-an-inviter-owned-transactional-invitation-lifecycle.md
  docs/adr/0009-bind-admission-to-the-mls-key-package.md
  docs/adr/0010-use-right-specific-mailbox-capabilities.md
  docs/adr/0011-select-openmls-for-the-phase-1-laboratory.md
  docs/legacy-v1/EVIDENCE_BRIEF.md
  docs/specs/SIGNED_INVITATION_V1.md
  docs/spikes/SEALED_INVITATION_PROVIDER.md
  docs/spikes/SEALED_INVITATION_PROVIDER_PROTOCOL.md
  spikes/sealed-invitation-provider/README.md
  spikes/sealed-invitation-provider/src/attestor.mjs
  spikes/sealed-invitation-provider/src/provider.mjs
  spikes/sealed-invitation-provider/test/provider.test.mjs
Due: prettier --write

docs: spike client vault and portable hosting
  docs/README.md
  docs/REFERENCES.md
  docs/RESEARCH_BACKLOG.md
  docs/THREAT_MODEL.md
  docs/spikes/client-vault-portable-hosting/context.md
  docs/spikes/client-vault-portable-hosting/diagrams/client-state-vault-before.mmd
  docs/spikes/client-vault-portable-hosting/diagrams/client-state-vault-recovery-after.mmd
  docs/spikes/client-vault-portable-hosting/diagrams/client-state-vault-session-scoped-after.mmd
  docs/spikes/client-vault-portable-hosting/diagrams/client-state-vault-whole-store-after.mmd
  docs/spikes/client-vault-portable-hosting/diagrams/portable-realm-hosting-before.mmd
  docs/spikes/client-vault-portable-hosting/diagrams/portable-realm-hosting-compose-after.mmd
  docs/spikes/client-vault-portable-hosting/diagrams/portable-realm-hosting-signed-descriptor-after.mmd
  docs/spikes/client-vault-portable-hosting/diagrams/portable-realm-hosting-split-after.mmd
  docs/spikes/client-vault-portable-hosting/evidence-manifest.txt
  docs/spikes/client-vault-portable-hosting/hardening.json
  docs/spikes/client-vault-portable-hosting/hardening.md
  docs/spikes/client-vault-portable-hosting/proposals/client-state-vault.md
  docs/spikes/client-vault-portable-hosting/proposals/portable-realm-hosting.md
Due: prettier --write

docs: spike client vault and portable hosting (#253)
  docs/README.md
  docs/REFERENCES.md
  docs/RESEARCH_BACKLOG.md
  docs/THREAT_MODEL.md
  docs/spikes/client-vault-portable-hosting/context.md
  docs/spikes/client-vault-portable-hosting/diagrams/client-state-vault-before.mmd
  docs/spikes/client-vault-portable-hosting/diagrams/client-state-vault-recovery-after.mmd
  docs/spikes/client-vault-portable-hosting/diagrams/client-state-vault-session-scoped-after.mmd
  docs/spikes/client-vault-portable-hosting/diagrams/client-state-vault-whole-store-after.mmd
  docs/spikes/client-vault-portable-hosting/diagrams/portable-realm-hosting-before.mmd
  docs/spikes/client-vault-portable-hosting/diagrams/portable-realm-hosting-compose-after.mmd
  docs/spikes/client-vault-portable-hosting/diagrams/portable-realm-hosting-signed-descriptor-after.mmd
  docs/spikes/client-vault-portable-hosting/diagrams/portable-realm-hosting-split-after.mmd
  docs/spikes/client-vault-portable-hosting/evidence-manifest.txt
  docs/spikes/client-vault-portable-hosting/hardening.json
  docs/spikes/client-vault-portable-hosting/hardening.md
  docs/spikes/client-vault-portable-hosting/proposals/client-state-vault.md
  docs/spikes/client-vault-portable-hosting/proposals/portable-realm-hosting.md
Due: prettier --write

docs: add independent security audit brief
  SECURITY.md
  docs/INDEPENDENT_AUDIT_BRIEF.md
  docs/README.md
  docs/spikes/client-vault-portable-hosting/context.md
  docs/spikes/client-vault-portable-hosting/evidence-manifest.txt
  docs/spikes/client-vault-portable-hosting/hardening.json
Due: prettier --write

ci: establish required security gate
  .codex/steering/javascript-typescript-steering.md
  .codex/steering/rust-steering.md
  .codex/steering/shell-scripting-steering.md
  .codex/steering/testing-quality-gates-steering.md
  .github/pull_request_template.md
  .github/workflows/ci.yml
  .github/workflows/node-tools.action.yml
  .github/workflows/rust.action.yml
  .node-version
  AGENTS.md
  Readme.md
  crates/session-core/Cargo.toml
  deny.toml
  docs/README.md
  docs/SECURE_DEVELOPMENT.md
  scripts/check-repository.mjs
  scripts/check-repository.test.mjs
Due: prettier --write

Establish required CI and security gates (#254)
  .codex/steering/javascript-typescript-steering.md
  .codex/steering/rust-steering.md
  .codex/steering/shell-scripting-steering.md
  .codex/steering/testing-quality-gates-steering.md
  .github/pull_request_template.md
  .github/workflows/ci.yml
  .github/workflows/node-tools.action.yml
  .github/workflows/rust.action.yml
  .node-version
  AGENTS.md
  Readme.md
  SECURITY.md
  crates/session-core/Cargo.toml
  deny.toml
  docs/INDEPENDENT_AUDIT_BRIEF.md
  docs/README.md
  docs/SECURE_DEVELOPMENT.md
  docs/spikes/client-vault-portable-hosting/context.md
  docs/spikes/client-vault-portable-hosting/evidence-manifest.txt
  docs/spikes/client-vault-portable-hosting/hardening.json
  scripts/check-repository.mjs
  scripts/check-repository.test.mjs
Due: prettier --write

Path conditions:
  eslint --cache --fix: any of: *.{ts,tsx}
  stylelint --fix: any of: *.{css,scss}
  prettier --write: any of: *.{ts,tsx,css,scss,md,yml,json}
