Repository dills122/session-chat: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, stylelint --fix, prettier --write

feat: expose MLS persistence boundary
  crates/session-crypto-mls/Cargo.toml
  crates/session-crypto-mls/src/lib.rs
  crates/session-crypto-mls/tests/storage_boundary.rs
Due: none

feat: add SQLCipher inviter persistence
  Cargo.lock
  Cargo.toml
  crates/storage-sqlcipher/Cargo.toml
  crates/storage-sqlcipher/src/lib.rs
  crates/storage-sqlcipher/tests/inviter_transaction.rs
Due: none

feat: add atomic joiner persistence
  crates/storage-sqlcipher/src/lib.rs
  crates/storage-sqlcipher/tests/joiner_transaction.rs
Due: none

feat: require factual key protector claims
  crates/session-storage/src/lib.rs
  crates/session-storage/tests/protector_capabilities.rs
Due: none

test: prove SQLCipher reopen recovery
  crates/storage-sqlcipher/tests/inviter_transaction.rs
  crates/storage-sqlcipher/tests/joiner_transaction.rs
Due: none

docs: select durable storage laboratory
  AGENTS.md
  Readme.md
  crates/session-crypto-mls/README.md
  crates/storage-sqlcipher/Cargo.toml
  crates/storage-sqlcipher/README.md
  docs/ARCHITECTURE_V2.md
  docs/INDEPENDENT_AUDIT_BRIEF.md
  docs/README.md
  docs/RESEARCH_BACKLOG.md
  docs/ROADMAP_V2.md
  docs/THREAT_MODEL.md
  docs/adr/0017-use-sqlcipher-for-the-durable-storage-laboratory.md
  docs/research/PLATFORM_KEY_PROTECTOR.md
Due: prettier --write

ci: require cross-platform local foundations
  .github/pull_request_template.md
  .github/workflows/ci.yml
  AGENTS.md
  Readme.md
  docs/ARCHITECTURE_V2.md
  docs/INDEPENDENT_AUDIT_BRIEF.md
  docs/PRODUCT_V2.md
  docs/README.md
  docs/RESEARCH_BACKLOG.md
  docs/ROADMAP_V2.md
  docs/SECURE_DEVELOPMENT.md
  docs/THREAT_MODEL.md
  docs/adr/0017-use-sqlcipher-for-the-durable-storage-laboratory.md
  docs/adr/0018-require-cross-platform-local-app-baselines.md
  docs/research/PLATFORM_KEY_PROTECTOR.md
Due: prettier --write

fix: pin sessionctl workspace dependencies
  apps/sessionctl/Cargo.toml
Due: none

fix: vendor SQLCipher crypto across platforms
  Cargo.lock
  Cargo.toml
  crates/storage-sqlcipher/README.md
  docs/adr/0017-use-sqlcipher-for-the-durable-storage-laboratory.md
  docs/research/INVITER_STORAGE_ENGINE.md
Due: prettier --write

docs(transport): define extensible secure delivery plan
  docs/ARCHITECTURE_V2.md
  docs/README.md
  docs/REFERENCES.md
  docs/RESEARCH_BACKLOG.md
  docs/ROADMAP_V2.md
  docs/THREAT_MODEL.md
  docs/TRANSPORTS.md
  docs/adr/0015-bind-transport-adapters-to-versioned-profiles.md
  docs/plans/TRANSPORT_ABSTRACTION_IMPLEMENTATION.md
  docs/research/TRANSPORT_SECURITY_LANDSCAPE_2026-08-20.md
  docs/specs/TRANSPORT_ABSTRACTION_V1.md
Due: prettier --write

docs(transport): define extensible secure delivery plan (#261)
  docs/ARCHITECTURE_V2.md
  docs/README.md
  docs/REFERENCES.md
  docs/RESEARCH_BACKLOG.md
  docs/ROADMAP_V2.md
  docs/THREAT_MODEL.md
  docs/TRANSPORTS.md
  docs/adr/0015-bind-transport-adapters-to-versioned-profiles.md
  docs/plans/TRANSPORT_ABSTRACTION_IMPLEMENTATION.md
  docs/research/TRANSPORT_SECURITY_LANDSCAPE_2026-08-20.md
  docs/specs/TRANSPORT_ABSTRACTION_V1.md
Due: prettier --write

docs(transport): accept and map the local baseline
  docs/README.md
  docs/adr/0015-bind-transport-adapters-to-versioned-profiles.md
  docs/evidence/transport-local-baseline.md
  docs/plans/TRANSPORT_ABSTRACTION_IMPLEMENTATION.md
  docs/specs/TRANSPORT_ABSTRACTION_V1.md
Due: prettier --write

feat(transport): add bounded contract values
  crates/session-transport/README.md
  crates/session-transport/src/contract.rs
  crates/session-transport/src/lib.rs
  crates/session-transport/tests/contract_values.rs
  docs/ARCHITECTURE_V2.md
  docs/THREAT_MODEL.md
  docs/evidence/transport-local-baseline.md
  docs/plans/TRANSPORT_ABSTRACTION_IMPLEMENTATION.md
  docs/specs/TRANSPORT_ABSTRACTION_V1.md
Due: prettier --write

docs(transport): synchronize ADR acceptance status
  docs/ARCHITECTURE_V2.md
  docs/THREAT_MODEL.md
  docs/plans/TRANSPORT_ABSTRACTION_IMPLEMENTATION.md
  docs/specs/TRANSPORT_ABSTRACTION_V1.md
Due: prettier --write

fix: serialize SQLCipher provider lifecycle
  crates/storage-sqlcipher/README.md
  crates/storage-sqlcipher/src/lib.rs
  crates/storage-sqlcipher/tests/inviter_transaction.rs
  docs/adr/0017-use-sqlcipher-for-the-durable-storage-laboratory.md
Due: prettier --write

test: isolate SQLCipher keying guarantees
  crates/storage-sqlcipher/README.md
  crates/storage-sqlcipher/src/lib.rs
  crates/storage-sqlcipher/tests/inviter_transaction.rs
  docs/adr/0017-use-sqlcipher-for-the-durable-storage-laboratory.md
Due: prettier --write

fix: bound SQLCipher key validation stack
  crates/storage-sqlcipher/README.md
  crates/storage-sqlcipher/src/lib.rs
  docs/adr/0017-use-sqlcipher-for-the-durable-storage-laboratory.md
Due: prettier --write

Add bounded transport contract foundations (#262)
  crates/session-transport/README.md
  crates/session-transport/src/contract.rs
  crates/session-transport/src/lib.rs
  crates/session-transport/tests/contract_values.rs
  docs/ARCHITECTURE_V2.md
  docs/README.md
  docs/THREAT_MODEL.md
  docs/adr/0015-bind-transport-adapters-to-versioned-profiles.md
  docs/evidence/transport-local-baseline.md
  docs/plans/TRANSPORT_ABSTRACTION_IMPLEMENTATION.md
  docs/specs/TRANSPORT_ABSTRACTION_V1.md
Due: prettier --write

fix: retain SQLCipher default memory policy
  crates/storage-sqlcipher/README.md
  crates/storage-sqlcipher/src/lib.rs
  docs/adr/0017-use-sqlcipher-for-the-durable-storage-laboratory.md
Due: prettier --write

docs: retain three-platform storage evidence
  Readme.md
  crates/storage-sqlcipher/README.md
  docs/INDEPENDENT_AUDIT_BRIEF.md
  docs/README.md
  docs/RESEARCH_BACKLOG.md
  docs/ROADMAP_V2.md
  docs/THREAT_MODEL.md
Due: prettier --write

feat: add portable passphrase key-wrapper laboratory
  Cargo.lock
  Cargo.toml
  crates/key-protector-passphrase/Cargo.toml
  crates/key-protector-passphrase/README.md
  crates/key-protector-passphrase/src/lib.rs
  crates/key-protector-passphrase/tests/wrapped_session_key.rs
  crates/session-storage/src/lib.rs
  crates/session-storage/tests/protector_capabilities.rs
  crates/session-storage/tests/vault_lifecycle.rs
  docs/ARCHITECTURE_V2.md
  docs/README.md
  docs/RESEARCH_BACKLOG.md
  docs/ROADMAP_V2.md
  docs/THREAT_MODEL.md
  docs/adr/0019-use-argon2id-and-aes-gcm-for-the-portable-key-wrapper-laboratory.md
  docs/plans/PORTABLE_VAULT_BASELINE_IMPLEMENTATION.md
  docs/research/PLATFORM_KEY_PROTECTOR.md
Due: prettier --write

feat: add portable passphrase key-wrapper laboratory (#263)
  Cargo.lock
  Cargo.toml
  crates/key-protector-passphrase/Cargo.toml
  crates/key-protector-passphrase/README.md
  crates/key-protector-passphrase/src/lib.rs
  crates/key-protector-passphrase/tests/wrapped_session_key.rs
  crates/session-storage/src/lib.rs
  crates/session-storage/tests/protector_capabilities.rs
  crates/session-storage/tests/vault_lifecycle.rs
  docs/ARCHITECTURE_V2.md
  docs/README.md
  docs/RESEARCH_BACKLOG.md
  docs/ROADMAP_V2.md
  docs/THREAT_MODEL.md
  docs/adr/0019-use-argon2id-and-aes-gcm-for-the-portable-key-wrapper-laboratory.md
  docs/plans/PORTABLE_VAULT_BASELINE_IMPLEMENTATION.md
  docs/research/PLATFORM_KEY_PROTECTOR.md
Due: prettier --write

feat(storage): prepare vault unlocks outside lifecycle owner
  crates/session-storage/src/lib.rs
  crates/session-storage/tests/opaque_inbox.rs
  crates/session-storage/tests/protector_capabilities.rs
  crates/session-storage/tests/unlock_orchestration.rs
  crates/session-storage/tests/vault_lifecycle.rs
Due: none

feat(vault): integrate one-shot passphrase protector
  crates/key-protector-passphrase/src/lib.rs
  crates/key-protector-passphrase/tests/wrapped_session_key.rs
Due: none

fix(storage): stop canceled unlocks before provider work
  crates/session-storage/src/lib.rs
  crates/session-storage/tests/unlock_orchestration.rs
Due: none

docs(vault): record bounded unlock orchestration
  AGENTS.md
  Readme.md
  crates/key-protector-passphrase/README.md
  crates/session-storage/README.md
  docs/ARCHITECTURE_V2.md
  docs/INDEPENDENT_AUDIT_BRIEF.md
  docs/README.md
  docs/RESEARCH_BACKLOG.md
  docs/ROADMAP_V2.md
  docs/THREAT_MODEL.md
  docs/adr/0016-use-a-session-scoped-sealed-vault-contract.md
  docs/adr/0019-use-argon2id-and-aes-gcm-for-the-portable-key-wrapper-laboratory.md
  docs/adr/0020-separate-vault-unlock-work-from-lifecycle-acceptance.md
  docs/plans/PORTABLE_VAULT_BASELINE_IMPLEMENTATION.md
  docs/research/PLATFORM_KEY_PROTECTOR.md
Due: prettier --write

Bound and isolate vault unlock orchestration (#264)
  AGENTS.md
  Readme.md
  crates/key-protector-passphrase/README.md
  crates/key-protector-passphrase/src/lib.rs
  crates/key-protector-passphrase/tests/wrapped_session_key.rs
  crates/session-storage/README.md
  crates/session-storage/src/lib.rs
  crates/session-storage/tests/opaque_inbox.rs
  crates/session-storage/tests/protector_capabilities.rs
  crates/session-storage/tests/unlock_orchestration.rs
  crates/session-storage/tests/vault_lifecycle.rs
  docs/ARCHITECTURE_V2.md
  docs/INDEPENDENT_AUDIT_BRIEF.md
  docs/README.md
  docs/RESEARCH_BACKLOG.md
  docs/ROADMAP_V2.md
  docs/THREAT_MODEL.md
  docs/adr/0016-use-a-session-scoped-sealed-vault-contract.md
  docs/adr/0019-use-argon2id-and-aes-gcm-for-the-portable-key-wrapper-laboratory.md
  docs/adr/0020-separate-vault-unlock-work-from-lifecycle-acceptance.md
  docs/plans/PORTABLE_VAULT_BASELINE_IMPLEMENTATION.md
  docs/research/PLATFORM_KEY_PROTECTOR.md
Due: prettier --write

test(transport): prove local capability boundaries
  crates/session-transport/README.md
  crates/session-transport/src/capability.rs
  crates/session-transport/src/lib.rs
  crates/session-transport/tests/redaction.rs
  docs/README.md
  docs/THREAT_MODEL.md
  docs/evidence/transport-capability-boundaries.md
  docs/plans/TRANSPORT_ABSTRACTION_IMPLEMENTATION.md
  docs/specs/TRANSPORT_ABSTRACTION_V1.md
Due: prettier --write

docs(testing): define real-world E2E strategy
  docs/README.md
  docs/ROADMAP_V2.md
  docs/SECURE_DEVELOPMENT.md
  docs/plans/REAL_WORLD_E2E_TESTING.md
  docs/plans/TRANSPORT_ABSTRACTION_IMPLEMENTATION.md
Due: prettier --write

docs(transport): reconcile recovered capability evidence
  docs/evidence/transport-capability-boundaries.md
  docs/plans/REAL_WORLD_E2E_TESTING.md
  docs/plans/TRANSPORT_ABSTRACTION_IMPLEMENTATION.md
  docs/specs/TRANSPORT_ABSTRACTION_V1.md
Due: prettier --write

Harden local transport capability boundaries (#265)
  crates/session-transport/README.md
  crates/session-transport/src/capability.rs
  crates/session-transport/src/lib.rs
  crates/session-transport/tests/redaction.rs
  docs/README.md
  docs/ROADMAP_V2.md
  docs/SECURE_DEVELOPMENT.md
  docs/THREAT_MODEL.md
  docs/evidence/transport-capability-boundaries.md
  docs/plans/REAL_WORLD_E2E_TESTING.md
  docs/plans/TRANSPORT_ABSTRACTION_IMPLEMENTATION.md
  docs/specs/TRANSPORT_ABSTRACTION_V1.md
Due: prettier --write

docs(transport): reconcile active delivery plan
  docs/RESEARCH_BACKLOG.md
  docs/plans/TRANSPORT_ABSTRACTION_IMPLEMENTATION.md
Due: prettier --write

feat(transport): bound operation contract values
  crates/session-transport/README.md
  crates/session-transport/src/contract.rs
  crates/session-transport/src/lib.rs
  crates/session-transport/tests/contract_values.rs
  docs/ROADMAP_V2.md
  docs/THREAT_MODEL.md
  docs/adr/0015-bind-transport-adapters-to-versioned-profiles.md
  docs/evidence/transport-capability-boundaries.md
  docs/plans/TRANSPORT_ABSTRACTION_IMPLEMENTATION.md
  docs/specs/TRANSPORT_ABSTRACTION_V1.md
Due: prettier --write

feat(transport): validate bounded receive batches
  crates/session-transport/README.md
  crates/session-transport/src/contract.rs
  crates/session-transport/src/lib.rs
  crates/session-transport/tests/contract_values.rs
  docs/ROADMAP_V2.md
  docs/THREAT_MODEL.md
  docs/adr/0015-bind-transport-adapters-to-versioned-profiles.md
  docs/evidence/transport-capability-boundaries.md
  docs/plans/TRANSPORT_ABSTRACTION_IMPLEMENTATION.md
  docs/specs/TRANSPORT_ABSTRACTION_V1.md
Due: prettier --write

fix(transport): close contract review findings
  crates/session-transport/src/contract.rs
  crates/session-transport/tests/contract_values.rs
  docs/README.md
  docs/THREAT_MODEL.md
  docs/plans/TRANSPORT_ABSTRACTION_IMPLEMENTATION.md
Due: prettier --write

feat(site): add project overview and Pages release
  .codex/AI_CENTRAL.md
  .codex/ai-central-pin.json
  .github/workflows/ci.yml
  .github/workflows/pages.yml
  .hallmark/log.json
  .hallmark/preflight.json
  Readme.md
  site/.gitignore
  site/CONTENT_DUMP.md
  site/astro.config.mjs
  site/package-lock.json
  site/package.json
  site/public/mark.svg
  site/public/og.svg
  site/scripts/dump-site-copy.mjs
  site/src/components/CommandPalette.astro
  site/src/components/Footer.astro
  site/src/components/Header.astro
  site/src/env.d.ts
  site/src/layouts/BaseLayout.astro
  site/src/lib/paths.ts
  site/src/pages/architecture.astro
  site/src/pages/index.astro
  site/src/pages/project.astro
  site/src/pages/security.astro
  site/src/styles/global.css
  site/tokens.css
  site/tsconfig.json
Due: eslint --cache --fix, stylelint --fix, prettier --write

fix(site): parse generated HTML structurally
  site/package-lock.json
  site/package.json
  site/scripts/dump-site-copy.mjs
Due: prettier --write

feat(transport): add bounded operation contracts (#266)
  crates/session-transport/README.md
  crates/session-transport/src/contract.rs
  crates/session-transport/src/lib.rs
  crates/session-transport/tests/contract_values.rs
  docs/README.md
  docs/RESEARCH_BACKLOG.md
  docs/ROADMAP_V2.md
  docs/THREAT_MODEL.md
  docs/adr/0015-bind-transport-adapters-to-versioned-profiles.md
  docs/evidence/transport-capability-boundaries.md
  docs/plans/TRANSPORT_ABSTRACTION_IMPLEMENTATION.md
  docs/specs/TRANSPORT_ABSTRACTION_V1.md
Due: prettier --write

Add the Session Chat project overview site (#267)
  .codex/AI_CENTRAL.md
  .codex/ai-central-pin.json
  .github/workflows/ci.yml
  .github/workflows/pages.yml
  .hallmark/log.json
  .hallmark/preflight.json
  Readme.md
  site/.gitignore
  site/CONTENT_DUMP.md
  site/astro.config.mjs
  site/package-lock.json
  site/package.json
  site/public/mark.svg
  site/public/og.svg
  site/scripts/dump-site-copy.mjs
  site/src/components/CommandPalette.astro
  site/src/components/Footer.astro
  site/src/components/Header.astro
  site/src/env.d.ts
  site/src/layouts/BaseLayout.astro
  site/src/lib/paths.ts
  site/src/pages/architecture.astro
  site/src/pages/index.astro
  site/src/pages/project.astro
  site/src/pages/security.astro
  site/src/styles/global.css
  site/tokens.css
  site/tsconfig.json
Due: eslint --cache --fix, stylelint --fix, prettier --write

Path conditions:
  eslint --cache --fix: any of: *.{ts,tsx}
  stylelint --fix: any of: *.{css,scss}
  prettier --write: any of: *.{ts,tsx,css,scss,md,yml,json}
