Repository dills122/session-chat: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, stylelint --fix, prettier --write

.lintstagedrc:

{
  "*.{ts,tsx}": "eslint --cache --fix",
  "*.{css,scss}": "stylelint --fix",
  "*.{ts,tsx,css,scss,md,sh,ps1,yml,json}": "prettier --write"
}

updated build command to pass with warnings
  common/config/rush/command-line.json
Due: prettier --write

Frontend Refinements/Fixes & Shared-SDK (#161)
  .github/workflows/ci.action.yml
  .lintstagedrc
  .prettierrc
  apps/chat-backend/Dockerfile
  apps/chat-backend/LICENSE
  apps/chat-backend/package.json
  apps/chat-backend/src/chat/RedisIoAdapter.ts
  apps/chat-backend/src/chat/chat.gateway.ts
  apps/chat-backend/src/shared/types.ts
  apps/chat-frontend/LICENSE
  apps/chat-frontend/package.json
  apps/chat-frontend/src/app/app-routing.module.ts
  apps/chat-frontend/src/app/app.module.ts
  apps/chat-frontend/src/app/features/chat-room/chat-room/chat-room.component.ts
  apps/chat-frontend/src/app/features/create-session/create-session/create-session.component.html
  apps/chat-frontend/src/app/features/create-session/create-session/create-session.component.ts
  apps/chat-frontend/src/app/features/home/home.module.ts
  apps/chat-frontend/src/app/features/home/home/home.component.html
  apps/chat-frontend/src/app/features/login/login/login.component.html
  apps/chat-frontend/src/app/features/login/login/login.component.ts
  apps/chat-frontend/src/app/services/auth/auth-service.service.spec.ts
  apps/chat-frontend/src/app/services/auth/auth-service.service.ts
  apps/chat-frontend/src/app/services/chat/chat-service.service.ts
  apps/chat-frontend/src/app/services/login-session-guard/login-session-guard.service.ts
  apps/chat-frontend/src/app/services/login/login.service.ts
  apps/chat-frontend/src/app/services/notification/notification-service.service.ts
  apps/chat-frontend/src/app/services/util/util.service.spec.ts
  apps/chat-frontend/src/app/services/util/util.service.ts
  common/autoinstallers/lint-staged/.prettierrc
  common/config/rush/command-line.json
  common/config/rush/pnpm-lock.yaml
  libs/shared-sdk/.eslintignore
  libs/shared-sdk/.eslintrc
  libs/shared-sdk/LICENSE
  libs/shared-sdk/index.ts
  libs/shared-sdk/package.json
  libs/shared-sdk/tsconfig.json
  rush.json
Due: eslint --cache --fix, prettier --write

fixed deactivation guard & other small changes
  apps/chat-frontend/src/app/app-routing.module.ts
  apps/chat-frontend/src/app/features/chat-room/chat-room-routing.module.ts
  apps/chat-frontend/src/app/features/chat-room/chat-room.module.ts
  apps/chat-frontend/src/app/features/chat-room/chat-room/chat-room.component.ts
  apps/chat-frontend/src/app/features/create-session/create-session/create-session.component.ts
  apps/chat-frontend/src/app/guards/can-deactivate.guard.ts
  apps/chat-frontend/src/app/services/link-generation/link-generation.service.ts
Due: eslint --cache --fix, prettier --write

fixed deactivation guard & other small changes (#162)
  apps/chat-frontend/src/app/app-routing.module.ts
  apps/chat-frontend/src/app/features/chat-room/chat-room-routing.module.ts
  apps/chat-frontend/src/app/features/chat-room/chat-room.module.ts
  apps/chat-frontend/src/app/features/chat-room/chat-room/chat-room.component.ts
  apps/chat-frontend/src/app/features/create-session/create-session/create-session.component.ts
  apps/chat-frontend/src/app/guards/can-deactivate.guard.ts
  apps/chat-frontend/src/app/services/link-generation/link-generation.service.ts
Due: eslint --cache --fix, prettier --write

created generic & confirmation modal comps
  apps/chat-frontend/.stylelintrc.json
  apps/chat-frontend/package.json
  apps/chat-frontend/src/app/app.module.ts
  apps/chat-frontend/src/app/app/app.component.html
  apps/chat-frontend/src/app/global/confirm-modal/confirm-modal.component.html
  apps/chat-frontend/src/app/global/confirm-modal/confirm-modal.component.spec.ts
  apps/chat-frontend/src/app/global/confirm-modal/confirm-modal.component.ts
  apps/chat-frontend/src/app/global/generic-modal/generic-modal.component.html
  apps/chat-frontend/src/app/global/generic-modal/generic-modal.component.spec.ts
  apps/chat-frontend/src/app/global/generic-modal/generic-modal.component.ts
  apps/chat-frontend/src/app/global/global.module.ts
  apps/chat-frontend/src/app/models/button-types.ts
  common/autoinstallers/lint-staged/package.json
  common/autoinstallers/lint-staged/pnpm-lock.yaml
  common/config/rush/.npmrc
  common/config/rush/pnpm-lock.yaml
Due: eslint --cache --fix, prettier --write

fixed failing tests
  apps/chat-frontend/src/app/global/confirm-modal/confirm-modal.component.spec.ts
  apps/chat-frontend/src/app/global/generic-modal/generic-modal.component.spec.ts
Due: eslint --cache --fix, prettier --write

Created Modal Components & House Keeping Items (#163)
  apps/chat-frontend/.stylelintrc.json
  apps/chat-frontend/package.json
  apps/chat-frontend/src/app/app.module.ts
  apps/chat-frontend/src/app/app/app.component.html
  apps/chat-frontend/src/app/global/confirm-modal/confirm-modal.component.html
  apps/chat-frontend/src/app/global/confirm-modal/confirm-modal.component.spec.ts
  apps/chat-frontend/src/app/global/confirm-modal/confirm-modal.component.ts
  apps/chat-frontend/src/app/global/generic-modal/generic-modal.component.html
  apps/chat-frontend/src/app/global/generic-modal/generic-modal.component.spec.ts
  apps/chat-frontend/src/app/global/generic-modal/generic-modal.component.ts
  apps/chat-frontend/src/app/global/global.module.ts
  apps/chat-frontend/src/app/models/button-types.ts
  common/autoinstallers/lint-staged/package.json
  common/autoinstallers/lint-staged/pnpm-lock.yaml
  common/config/rush/.npmrc
  common/config/rush/pnpm-lock.yaml
Due: eslint --cache --fix, prettier --write

added create session modal & general cleanup
  apps/chat-frontend/angular.json
  apps/chat-frontend/src/app/app-routing.module.ts
  apps/chat-frontend/src/app/app.module.ts
  apps/chat-frontend/src/app/app/app.component.html
  apps/chat-frontend/src/app/core/confirm-modal/confirm-modal.component.html
  apps/chat-frontend/src/app/core/confirm-modal/confirm-modal.component.scss
  apps/chat-frontend/src/app/core/confirm-modal/confirm-modal.component.spec.ts
  apps/chat-frontend/src/app/core/confirm-modal/confirm-modal.component.ts
  apps/chat-frontend/src/app/core/core.module.ts
  apps/chat-frontend/src/app/core/generic-modal/generic-modal.component.html
  apps/chat-frontend/src/app/core/generic-modal/generic-modal.component.spec.ts
  apps/chat-frontend/src/app/core/generic-modal/generic-modal.component.ts
  apps/chat-frontend/src/app/features/chat-room/chat-room/chat-room.component.ts
  apps/chat-frontend/src/app/features/create-session/create-session.module.ts
  apps/chat-frontend/src/app/features/create-session/create-session/create-session.component.html
  apps/chat-frontend/src/app/features/create-session/create-session/create-session.component.ts
  apps/chat-frontend/src/app/global/confirm-modal/confirm-modal.component.html
  apps/chat-frontend/src/app/guards/auth-guard/auth-guard.service.spec.ts
  apps/chat-frontend/src/app/guards/auth-guard/auth-guard.service.ts
  apps/chat-frontend/src/app/guards/login-session-guard/login-session-guard.service.spec.ts
  apps/chat-frontend/src/app/guards/login-session-guard/login-session-guard.service.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

fixed some formatting issues
  apps/chat-frontend/src/app/app/app.component.scss
  apps/chat-frontend/src/app/app/app.component.ts
  apps/chat-frontend/src/app/core/generic-modal/generic-modal.component.html
  apps/chat-frontend/src/app/core/generic-modal/generic-modal.component.scss
  apps/chat-frontend/src/app/core/generic-modal/generic-modal.component.ts
  apps/chat-frontend/src/app/features/chat-room/chat-room/chat-room.component.html
  apps/chat-frontend/src/app/features/create-session/create-session/create-session.component.html
Due: eslint --cache --fix, stylelint --fix, prettier --write

Frontend Clean (#164)
  apps/chat-frontend/angular.json
  apps/chat-frontend/src/app/app-routing.module.ts
  apps/chat-frontend/src/app/app.module.ts
  apps/chat-frontend/src/app/app/app.component.html
  apps/chat-frontend/src/app/app/app.component.scss
  apps/chat-frontend/src/app/app/app.component.ts
  apps/chat-frontend/src/app/core/confirm-modal/confirm-modal.component.html
  apps/chat-frontend/src/app/core/confirm-modal/confirm-modal.component.scss
  apps/chat-frontend/src/app/core/confirm-modal/confirm-modal.component.spec.ts
  apps/chat-frontend/src/app/core/confirm-modal/confirm-modal.component.ts
  apps/chat-frontend/src/app/core/core.module.ts
  apps/chat-frontend/src/app/core/generic-modal/generic-modal.component.html
  apps/chat-frontend/src/app/core/generic-modal/generic-modal.component.scss
  apps/chat-frontend/src/app/core/generic-modal/generic-modal.component.spec.ts
  apps/chat-frontend/src/app/core/generic-modal/generic-modal.component.ts
  apps/chat-frontend/src/app/features/chat-room/chat-room/chat-room.component.html
  apps/chat-frontend/src/app/features/chat-room/chat-room/chat-room.component.ts
  apps/chat-frontend/src/app/features/create-session/create-session.module.ts
  apps/chat-frontend/src/app/features/create-session/create-session/create-session.component.html
  apps/chat-frontend/src/app/features/create-session/create-session/create-session.component.ts
  apps/chat-frontend/src/app/global/confirm-modal/confirm-modal.component.html
  apps/chat-frontend/src/app/guards/auth-guard/auth-guard.service.spec.ts
  apps/chat-frontend/src/app/guards/auth-guard/auth-guard.service.ts
  apps/chat-frontend/src/app/guards/login-session-guard/login-session-guard.service.spec.ts
  apps/chat-frontend/src/app/guards/login-session-guard/login-session-guard.service.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

added referrer to login & started backend expiration
  apps/chat-backend/package.json
  apps/chat-backend/src/app.module.ts
  apps/chat-backend/src/chat/chat.gateway.ts
  apps/chat-backend/src/services/room-management/room-management.service.spec.ts
  apps/chat-backend/src/services/room-management/room-management.service.ts
  apps/chat-frontend/src/app/features/chat-room/chat-room/chat-room.component.html
  apps/chat-frontend/src/app/features/chat-room/chat-room/chat-room.component.ts
  apps/chat-frontend/src/app/features/create-session/create-session/create-session.component.html
  apps/chat-frontend/src/app/features/create-session/create-session/create-session.component.scss
  apps/chat-frontend/src/app/features/create-session/create-session/create-session.component.ts
  apps/chat-frontend/src/app/features/login/login/login.component.ts
  apps/chat-frontend/src/app/models/participant-payload.ts
  apps/chat-frontend/src/app/services/login/login.service.ts
  common/config/rush/pnpm-lock.yaml
  libs/shared-sdk/index.ts
  libs/shared-sdk/package.json
Due: eslint --cache --fix, stylelint --fix, prettier --write

created redis module & interface for saving room info
  .docker/redis/redis.conf
  .env.example
  apps/chat-backend/.env.development
  apps/chat-backend/.env.example
  apps/chat-backend/package.json
  apps/chat-backend/src/app.module.ts
  apps/chat-backend/src/chat/RedisIoAdapter.ts
  apps/chat-backend/src/infrastructure/redis/redis-client.factory.ts
  apps/chat-backend/src/infrastructure/redis/redis.module.ts
  apps/chat-backend/src/infrastructure/redis/redis.repository.interface.ts
  apps/chat-backend/src/infrastructure/redis/redis.repository.ts
  apps/chat-backend/src/infrastructure/redis/redis.service.ts
  apps/chat-backend/src/interfaces/room.ts
  common-services.yml
  common/config/rush/pnpm-lock.yaml
  docker-compose.yml
Due: eslint --cache --fix, prettier --write

fixed auth tests & types
  apps/chat-frontend/package.json
  apps/chat-frontend/src/app/services/auth/auth-service.service.spec.ts
  apps/chat-frontend/src/app/services/auth/auth-service.service.ts
  common/config/rush/pnpm-lock.yaml
Due: eslint --cache --fix, prettier --write

added create session event
  apps/chat-backend/src/chat/chat.gateway.ts
  apps/chat-backend/src/infrastructure/redis/redis.service.ts
  apps/chat-backend/src/services/room-management/room-management.service.ts
  apps/chat-backend/src/shared/util.ts
  libs/shared-sdk/index.ts
Due: eslint --cache --fix, prettier --write

fixed failing tests
  apps/chat-backend/src/infrastructure/redis/redis-client.factory.ts
  apps/chat-backend/src/infrastructure/redis/redis.module.ts
  apps/chat-backend/src/infrastructure/redis/redis.service.ts
  apps/chat-backend/src/services/room-management/room-management.service.spec.ts
  apps/chat-backend/src/services/room-management/room-management.service.ts
Due: eslint --cache --fix, prettier --write

finally fixed multi redis instance issue, needs clean-up
  .docker/redis/redis-db.conf
  .docker/redis/redis-io.conf
  .env.example
  apps/chat-backend/.env.development
  apps/chat-backend/.env.example
  apps/chat-backend/Dockerfile.dev
  apps/chat-backend/nest-cli.json
  apps/chat-backend/src/chat/RedisIoAdapter.ts
  apps/chat-backend/src/infrastructure/redis/redis-client.factory.ts
  apps/chat-backend/src/main.ts
  apps/chat-frontend/src/app/features/create-session/create-session/create-session.component.html
  apps/chat-frontend/src/app/features/create-session/create-session/create-session.component.ts
  apps/chat-frontend/src/app/features/login/login/login.component.ts
  apps/chat-frontend/src/app/services/room-management/room-management.service.spec.ts
  apps/chat-frontend/src/app/services/room-management/room-management.service.ts
  common-services.yml
  common/config/rush/command-line.json
  docker-compose.development.yml
  libs/shared-sdk/index.ts
Due: eslint --cache --fix, prettier --write

fixed failing test
  apps/chat-frontend/src/app/services/room-management/room-management.service.spec.ts
Due: eslint --cache --fix, prettier --write

clean up after fixing docker issues
  .docker/redis/redis-db.conf
  .docker/redis/redis-io.conf
  .env.example
  apps/chat-backend/.env.development
  apps/chat-backend/.env.example
  apps/chat-backend/src/chat/RedisIoAdapter.ts
  apps/chat-backend/src/infrastructure/redis/redis-client.factory.ts
  apps/chat-backend/src/main.ts
  common-services.yml
  common/config/rush/command-line.json
Due: eslint --cache --fix, prettier --write

fixed some bugs
  apps/chat-backend/src/infrastructure/redis/redis.repository.ts
  apps/chat-frontend/src/app/features/create-session/create-session/create-session.component.html
  apps/chat-frontend/src/app/features/create-session/create-session/create-session.component.ts
Due: eslint --cache --fix, prettier --write

more fixes
  .docker/redis/redis-io.conf
  apps/chat-backend/src/chat/RedisIoAdapter.ts
  apps/chat-backend/src/infrastructure/redis/redis-client.factory.ts
  common-services.yml
Due: eslint --cache --fix, prettier --write

fixed some issues when trying to get up an running again
  .lintstagedrc
  apps/chat-backend/src/services/jwt-token/jwt-token.service.ts
  common/autoinstallers/lint-staged/.prettierrc
  scripts/setup-certs.sh
Due: eslint --cache --fix, prettier --write

fixed issue with redis gets returning null/undefined & other bugs
  apps/chat-backend/package.json
  apps/chat-backend/src/infrastructure/redis/redis-client.factory.ts
  apps/chat-backend/src/infrastructure/redis/redis.repository.ts
  apps/chat-backend/src/infrastructure/redis/redis.service.ts
  apps/chat-backend/src/services/room-management/room-management.service.ts
  common/config/rush/pnpm-lock.yaml
  docker-compose.development.yml
Due: eslint --cache --fix, prettier --write

fixed bug with referrer link being incomplete and causing wrong hash
  apps/chat-backend/src/chat/chat.gateway.ts
  apps/chat-backend/src/infrastructure/redis/redis.service.ts
  apps/chat-backend/src/services/room-management/room-management.service.ts
  apps/chat-backend/src/shared/util.ts
  apps/chat-frontend/src/app/features/create-session/create-session/create-session.component.ts
  apps/chat-frontend/src/app/features/login/login/login.component.ts
Due: eslint --cache --fix, prettier --write

adding strict types to the events
  .vscode/settings.json
  apps/chat-backend/src/chat/chat.gateway.ts
  apps/chat-frontend/src/app/services/auth/auth-service.service.spec.ts
  apps/chat-frontend/src/app/services/login/login.service.ts
  libs/shared-sdk/index.ts
Due: eslint --cache --fix, prettier --write

finished updates & started to add tests
  apps/chat-backend/mocks/redis.service.mock.ts
  apps/chat-backend/src/chat/chat.gateway.ts
  apps/chat-backend/src/infrastructure/redis/redis.service.ts
  apps/chat-backend/src/services/room-management/room-management.service.spec.ts
  apps/chat-backend/src/services/room-management/room-management.service.ts
Due: eslint --cache --fix, prettier --write

Updated project dependencies
  common/config/rush/pnpm-lock.yaml
Due: none

updated deps & ensured all were in sync across packages
  apps/chat-backend/package.json
  apps/chat-frontend/package.json
  common/config/rush/pnpm-lock.yaml
  libs/shared-sdk/package.json
Due: prettier --write

Revert "updated deps & ensured all were in sync across packages"
  apps/chat-backend/package.json
  apps/chat-frontend/package.json
  common/config/rush/pnpm-lock.yaml
  libs/shared-sdk/package.json
Due: prettier --write

Revert "updated deps & ensured all were in sync across packages" (#176)
  apps/chat-backend/package.json
  apps/chat-frontend/package.json
  common/config/rush/pnpm-lock.yaml
  libs/shared-sdk/package.json
Due: prettier --write

update deps besides eslint and stylelint
  apps/chat-backend/.eslintignore
  apps/chat-backend/package.json
  apps/chat-frontend/package.json
  common/autoinstallers/lint-staged/package.json
  common/autoinstallers/lint-staged/pnpm-lock.yaml
  common/config/rush/pnpm-lock.yaml
  libs/shared-sdk/package.json
Due: prettier --write

added shared notification types & services
  apps/chat-backend/src/app.module.ts
  apps/chat-backend/src/chat/chat.gateway.ts
  apps/chat-backend/src/services/notification/notification.service.spec.ts
  apps/chat-backend/src/services/notification/notification.service.ts
  apps/chat-frontend/src/app/features/chat-room/chat-room/chat-room.component.ts
  apps/chat-frontend/src/app/features/login/login/login.component.ts
  apps/chat-frontend/src/app/services/notification/notification-service.service.ts
  libs/shared-sdk/index.ts
Due: eslint --cache --fix, prettier --write

updated notification tests
  apps/chat-frontend/src/app/services/notification/notification-service.service.spec.ts
  apps/chat-frontend/src/app/services/notification/notification-service.service.ts
Due: eslint --cache --fix, prettier --write

Update Notifications (#186)
  apps/chat-backend/src/app.module.ts
  apps/chat-backend/src/chat/chat.gateway.ts
  apps/chat-backend/src/services/notification/notification.service.spec.ts
  apps/chat-backend/src/services/notification/notification.service.ts
  apps/chat-frontend/src/app/features/chat-room/chat-room/chat-room.component.ts
  apps/chat-frontend/src/app/features/login/login/login.component.ts
  apps/chat-frontend/src/app/services/notification/notification-service.service.spec.ts
  apps/chat-frontend/src/app/services/notification/notification-service.service.ts
  libs/shared-sdk/index.ts
Due: eslint --cache --fix, prettier --write
