Repository dills122/session-chat: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, stylelint --fix, prettier --write

Updated project dependencies
  common/config/rush/pnpm-lock.yaml
Due: none

updated actions
  .github/workflows/ci.action.yml
  .github/workflows/codeql.yml
Due: prettier --write

minor tweaks
  apps/chat-backend/src/chat/RedisIoAdapter.ts
  common/config/rush/command-line.json
Due: eslint --cache --fix, prettier --write

more tweaks
  .github/workflows/ci.action.yml
  rush.json
Due: prettier --write

maybe this time
  .github/workflows/ci.action.yml
Due: prettier --write

angular 11->12 upgrade
  apps/chat-frontend/angular.json
  apps/chat-frontend/package.json
  apps/chat-frontend/src/environments/environment.ts
  apps/chat-frontend/src/polyfills.ts
  apps/chat-frontend/src/test.ts
Due: eslint --cache --fix, prettier --write

package updates
  apps/chat-frontend/package.json
Due: none

upgrade to ang 13
  apps/chat-frontend/.gitignore
  apps/chat-frontend/package.json
  apps/chat-frontend/src/polyfills.ts
  apps/chat-frontend/src/test.ts
Due: eslint --cache --fix, prettier --write

upgrade to ang 14
  apps/chat-frontend/angular.json
  apps/chat-frontend/package.json
  apps/chat-frontend/tsconfig.json
Due: none

more minor package updates
  apps/chat-frontend/package.json
Due: none

upgrade to ang 15
  apps/chat-frontend/angular.json
  apps/chat-frontend/package.json
  apps/chat-frontend/src/app/app-routing.module.ts
  apps/chat-frontend/src/app/app.module.ts
  apps/chat-frontend/src/app/features/chat-room/chat-room/chat-room.component.ts
  apps/chat-frontend/src/styles.scss
  apps/chat-frontend/src/test.ts
  apps/chat-frontend/src/themes.scss
  apps/chat-frontend/tsconfig.json
Due: eslint --cache --fix, stylelint --fix, prettier --write

updated more frontend packages
  apps/chat-frontend/package.json
Due: none

upgraded ang to 16
  apps/chat-frontend/.eslintrc.json
  apps/chat-frontend/package.json
  apps/chat-frontend/src/app/services/auth-guard/auth-guard.service.ts
  apps/chat-frontend/src/app/services/login-session-guard/login-session-guard.service.ts
Due: eslint --cache --fix, prettier --write

finished fixing bugs with frontend
  Readme.md
  apps/chat-backend/package.json
  apps/chat-frontend/angular.json
  apps/chat-frontend/package.json
  apps/chat-frontend/src/app/services/auth-verification/auth-verification.service.spec.ts
  apps/chat-frontend/src/app/services/auth-verification/auth-verification.service.ts
  apps/chat-frontend/src/app/services/crypto/crypto.service.ts
  apps/chat-frontend/tsconfig.json
  common/config/rush/pnpm-lock.yaml
Due: eslint --cache --fix, prettier --write

cleaned up
  .lintstagedrc
  .prettierignore
  apps/chat-frontend/.eslintrc.json
  apps/chat-frontend/angular.json
  apps/chat-frontend/src/app/app/app.component.spec.ts
  apps/chat-frontend/src/app/features/chat-room/chat-room/chat-room.component.spec.ts
  apps/chat-frontend/src/app/features/login/login/login.component.ts
  apps/chat-frontend/src/index.html
  common/config/rush/command-line.json
  rush.json
Due: eslint --cache --fix, prettier --write

fixed rushjs version bug & updated backend docker
  .prettierrc
  apps/chat-backend/Dockerfile
  apps/chat-backend/package.json
  apps/chat-backend/tsconfig.json
  apps/chat-frontend/package.json
  apps/chat-frontend/tsconfig.json
  common/autoinstallers/lint-staged/package.json
  common/autoinstallers/lint-staged/pnpm-lock.yaml
  common/config/rush/pnpm-lock.yaml
  common/scripts/install-run-rush.js
  common/scripts/install-run-rushx.js
  common/scripts/install-run.js
  rush.json
  tsconfig.json
Due: prettier --write

fixed bugs with frontend project
  .prettierrc
  apps/chat-frontend/src/app/features/create-session/create-session/create-session.component.html
  apps/chat-frontend/src/app/features/create-session/create-session/create-session.component.ts
  apps/chat-frontend/src/app/features/login/login/login.component.ts
  apps/chat-frontend/src/app/models/participant-payload.ts
  apps/chat-frontend/src/app/services/crypto/crypto.service.ts
Due: eslint --cache --fix, prettier --write

updates to fix issues with ci build
  .github/workflows/ci.action.yml
  apps/chat-frontend/src/app/services/chat/chat-service.service.spec.ts
Due: eslint --cache --fix, prettier --write

fixed linting & test issues
  .gitattributes
  apps/chat-backend/.eslintignore
  apps/chat-backend/src/services/jwt-token/jwt-token.service.ts
  rush.json
  scripts/setup-certs.sh
Due: eslint --cache --fix, prettier --write

Fixed Bugs with Projects not Running Properly (#154)
  .gitattributes
  .github/workflows/ci.action.yml
  .prettierrc
  apps/chat-backend/.eslintignore
  apps/chat-backend/Dockerfile
  apps/chat-backend/package.json
  apps/chat-backend/src/services/jwt-token/jwt-token.service.ts
  apps/chat-backend/tsconfig.json
  apps/chat-frontend/package.json
  apps/chat-frontend/src/app/features/create-session/create-session/create-session.component.html
  apps/chat-frontend/src/app/features/create-session/create-session/create-session.component.ts
  apps/chat-frontend/src/app/features/login/login/login.component.ts
  apps/chat-frontend/src/app/models/participant-payload.ts
  apps/chat-frontend/src/app/services/chat/chat-service.service.spec.ts
  apps/chat-frontend/src/app/services/crypto/crypto.service.ts
  apps/chat-frontend/tsconfig.json
  common/autoinstallers/lint-staged/package.json
  common/autoinstallers/lint-staged/pnpm-lock.yaml
  common/config/rush/pnpm-lock.yaml
  common/scripts/install-run-rush.js
  common/scripts/install-run-rushx.js
  common/scripts/install-run.js
  rush.json
  scripts/setup-certs.sh
  tsconfig.json
Due: eslint --cache --fix, prettier --write

updated readme & setup scripts
  Readme.md
  scripts/brew-setup.sh
  scripts/setup-certs.sh
Due: prettier --write

Updated Readme (#155)
  Readme.md
  scripts/brew-setup.sh
  scripts/setup-certs.sh
Due: prettier --write

finally fixed all the issues after the upgrade
  apps/chat-backend/.env.development
  apps/chat-backend/package.json
  apps/chat-backend/src/app.module.ts
  apps/chat-backend/src/chat/RedisIoAdapter.ts
  apps/chat-backend/src/chat/chat.gateway.ts
  apps/chat-backend/src/services/jwt-token/jwt-token.service.ts
  apps/chat-backend/src/shared/util.ts
  apps/chat-backend/tsconfig.json
  apps/chat-frontend/src/app/app.module.ts
  common/config/rush/pnpm-lock.yaml
Due: eslint --cache --fix, prettier --write

prettier fixes
  apps/chat-backend/tsconfig.json
Due: none

Finally Up & Running (#156)
  apps/chat-backend/.env.development
  apps/chat-backend/package.json
  apps/chat-backend/src/app.module.ts
  apps/chat-backend/src/chat/RedisIoAdapter.ts
  apps/chat-backend/src/chat/chat.gateway.ts
  apps/chat-backend/src/services/jwt-token/jwt-token.service.ts
  apps/chat-backend/src/shared/util.ts
  apps/chat-backend/tsconfig.json
  apps/chat-frontend/src/app/app.module.ts
  common/config/rush/pnpm-lock.yaml
Due: eslint --cache --fix, prettier --write

added toasts for most error states
  .prettierrc
  apps/chat-backend/tsconfig.json
  apps/chat-frontend/src/app/app.module.ts
  apps/chat-frontend/src/app/features/create-session/create-session/create-session.component.ts
  apps/chat-frontend/src/app/features/home/home.module.ts
  apps/chat-frontend/src/app/features/home/home/home.component.html
  apps/chat-frontend/src/app/features/login/login/login.component.html
  apps/chat-frontend/src/app/features/login/login/login.component.ts
  apps/chat-frontend/src/app/services/login/login.service.ts
  common/autoinstallers/lint-staged/.prettierrc
Due: eslint --cache --fix, prettier --write

added event types & fixed some bugs
  apps/chat-frontend/src/app/features/chat-room/chat-room/chat-room.component.ts
  apps/chat-frontend/src/app/models/event-types.ts
  apps/chat-frontend/src/app/services/auth/auth-service.service.ts
  apps/chat-frontend/src/app/services/chat/chat-service.service.ts
  apps/chat-frontend/src/app/services/login-session-guard/login-session-guard.service.ts
  apps/chat-frontend/src/app/services/notification/notification-service.service.ts
Due: eslint --cache --fix, prettier --write

created shared-sdk for shared types
  .lintstagedrc
  apps/chat-backend/Dockerfile
  apps/chat-backend/LICENSE
  apps/chat-backend/package.json
  apps/chat-backend/src/chat/RedisIoAdapter.ts
  apps/chat-backend/src/chat/chat.gateway.ts
  apps/chat-backend/src/shared/types.ts
  apps/chat-frontend/LICENSE
  apps/chat-frontend/package.json
  apps/chat-frontend/src/app/app-routing.module.ts
  apps/chat-frontend/src/app/features/chat-room/chat-room/chat-room.component.ts
  apps/chat-frontend/src/app/features/create-session/create-session/create-session.component.html
  apps/chat-frontend/src/app/features/create-session/create-session/create-session.component.ts
  apps/chat-frontend/src/app/features/login/login/login.component.ts
  apps/chat-frontend/src/app/models/event-types.ts
  apps/chat-frontend/src/app/services/auth/auth-service.service.ts
  apps/chat-frontend/src/app/services/chat/chat-service.service.ts
  apps/chat-frontend/src/app/services/login/login.service.ts
  apps/chat-frontend/src/app/services/notification/notification-service.service.ts
  apps/chat-frontend/src/app/services/util/util.service.spec.ts
  apps/chat-frontend/src/app/services/util/util.service.ts
  common/config/rush/pnpm-lock.yaml
  libs/shared-sdk/.eslintignore
  libs/shared-sdk/.eslintrc
  libs/shared-sdk/LICENSE
  libs/shared-sdk/index.ts
  libs/shared-sdk/package.json
  libs/shared-sdk/tsconfig.json
  rush.json
Due: eslint --cache --fix, prettier --write

prettier fixes
  .lintstagedrc
  .prettierrc
  apps/chat-frontend/package.json
  libs/shared-sdk/package.json
Due: none

updated tests & ci build
  .github/workflows/ci.action.yml
  apps/chat-frontend/src/app/services/auth/auth-service.service.spec.ts
Due: eslint --cache --fix, prettier --write

Path conditions:
  eslint --cache --fix: any of: *.{ts,tsx}
  stylelint --fix: any of: *.{css,scss}
  prettier --write: (any of: *.{ts,tsx,css,scss,md,sh,ps1,yml}) or (any of: Dockerfile)
